# Ignore file with github OAuth IDs
.ghenv

# Python directories
__pycache__

*.pyc

# Ignore log folder
log/
# Ignore config
config.py

src/jupyter_notebooks

.DS_Store

**/ENV

openapi_specs
.DS_Store
