<html>
   <head>
      <title>BioThings Explorer</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      
      <script type="text/javascript" src="./static/js/cytoscape.js"></script>
      <script type="text/javascript" src="./static/js/drawSankey.js"></script>
      <script type="text/javascript" src="./static/js/find_path.js"></script>
      <script type="text/javascript" src="./static/js/drawCytoscape.js"></script>
      <script type="text/javascript" src="./static/js/create_api_map.js"></script>
      <script type="text/javascript" src="./static/js/populateSelect.js"></script>
      <script type="text/javascript" src="./static/js/data2Sankey.js"></script>
      <script type="text/javascript" src="./static/js/data2Cytoscape.js"></script>
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>        
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>
      <link href="./static/css/style.css" rel="stylesheet" />
   </head>
   
   <body> 
      <div class="row">
        <div class="col s12" id="navbar">
            <nav>
                <div class="nav-wrapper orange">
                    <a href="#!" class="brand-logo">BioThings Explorer</a>
                    <ul class="right hide-on-med-and-down">
                    <li><a href="#" id="map">API MAP</a></li>
                    <li><a href="#" id="explore">EXPLORE</a></li>
                    </ul>
                </div>
            </nav>
        </div>
      </div>
      <div class="row">
         <div class="col s12 m3" id="sidebar">
            <h4>Explore </h4>
            <ul class = "collapsible" data-collapsible = "accordion">
               <li>
                  <div class = "collapsible-header active">
                    <i class = "material-icons orange-text text-darken-2">map</i>API Road Map Overview</div>
                  <div class = "collapsible-body">
                    <a class="orange lighten-2 btn" id="roadMapButton">Click to explore API Road Map</a>
                  </div>
               </li>
               
               <li>
                  <div class = "collapsible-header">
                     <i class = "material-icons orange-text text-darken-2">compare_arrows</i>Explore Individual Endpoint</div>
                  <div class = "collapsible-body">
                     <p> Please select the <b>endpoint</b> you would like to explore. A sankey plot would appear on the right showing the <b>input</b> and <b>output</b> of the endpoint.</p>
                     <div class="select-wrapper"> 
                        <select id="select-endpoint">
                           <option value="" disabled selected>Choose your option</option>
                        </select>
                     </div>
                  </div>
               </li>
               
               <li>
                  <div class = "collapsible-header">
                     <i class = "material-icons orange-text text-darken-2">call_made</i>Explore Individual Bio-Entity as Input</div>
                  <div class = "collapsible-body">
                     <p> Please select the <b>bioentity</b> you would like to explore. A sankey plot would appear on the right showing all the <b>bioentity</b>(output) which can be connected from the <b>bioentity</b> you selected.</p>
                     <div class="select-wrapper"> 
                        <select id="select-input">
                           <option value="" disabled selected>Choose your option</option>
                        </select>
                     </div>
                  </div>
               </li>
               <li>
                  <div class = "collapsible-header">
                     <i class = "material-icons orange-text text-darken-2">call_received</i>Explore Individual Bio-Entity as Output</div>
                  <div class = "collapsible-body"><p> Please select the <b>bioentity</b> you would like to explore. A sankey plot would appear on the right showing all the <b>bioentity</b>(input) which can be connected to the <b>bioentity</b> you selected.</p>
                     <div class="select-wrapper"> 
                        <select id="select-output">
                           <option value="" disabled selected>Choose your option</option>
                        </select>
                     </div>
                  </div>
               </li>
               <li>
                  <div class = "collapsible-header">
                     <i class = "material-icons orange-text text-darken-2">directions</i>Explore Paths between Input and Output</div>
                  <div class = "collapsible-body"><p> Please select the <b>bioentities</b> you would like to explore. A sankey plot would appear on the right showing all the <b>paths</b> connecting the <b>input</b> and <b>output</b> you selected.</p>
                    <div class="select-wrapper"> 
                        <select id="select-input1">
                           <option value="" disabled selected>Choose your option</option>
                        </select>
                        <label>Input</label>
                    </div>
                    <div class="select-wrapper"> 
                        <select id="select-output1">
                           <option value="" disabled selected>Choose your option</option>
                        </select>
                        <label>Output</label>
                    </div>
                    <div class="select-wrapper">
                        <select id="select-max-api">
                          <option value="3" disabled selected>3</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                        <label>Maximum number of API used</label>
                    </div>
                    <a class="orange lighten-2 btn" id="inputOutputPathButton">Find Path</a>
                    <div id="explore-path">
                      <p> Please select the <b>path</b> using the <b>drop-down</b> menu below. The detailed <b>description</b> for each path could be found under the <b>Sankey Plot</b> on the right. After selecting the path, please <b>specify the input</b>. If you have <b>multiple</b> inputs, separate them by <b>comma</b>.</p>
                      <div class="select-wrapper">
                          <select id="select-path">
                            <option value="3" disabled selected>3</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                          </select>
                          <label>Select the path you want to explore</label>
                      </div>
                      <div class="input-field">
                        <input id="input_value" type="text" class="validate">
                        <label for="input_value">Please put your input value here.</label>
                      </div>
                      <a class="orange lighten-2 btn" id="explorePathButton">Explore This Path</a>
                    </div>
                  </div>
               </li>
         </div>
        <div class="col s12 m9" id="main">
            <!-- Plotly chart will be drawn inside this div -->
            <div id="plotly-div"></div>
            <!-- Cytoscape chart will be drawn inside this div -->
            <div id="cy"></div>
            <div id="paths">
              <ul class="collection with-header" id="paths-list">
                <li class="collection-header"><h4>First Names</h4></li>
              </ul>
            </div>
            <div id="log">
              <ul class="collection with-header" id="log-list">
              </ul>
            </div>
        </div>
      </div>
      <script src="./static/js/main.js"></script>
     
   </body>  
</html>