<html>
   <head>
        <meta property="og:locale" content="en_US">
        <meta property="og:url" content="http://biothings.io/explorer/">
        <meta property="og:site_name" content="BioThings Explorer">
        <meta property="og:title" content="BioThings Explorer | Exploring Biological Data Through Linked API Services">
        <meta name="description" content="BioThings Explorer utilize JSON-LD and SmartAPI Specifications to link biological API for knowledge exploration. Users could get metadata information about APIs as well as fetching linked biological data through BioThings Explorer.">
        <meta property="og:type" content="website">
        <meta property="og:description" content="BioThings Explorer utilize JSON-LD and SmartAPI Specifications to link biological API for knowledge exploration. Users could get metadata information about APIs as well as fetching linked biological data through BioThings Explorer.">
        <meta property="og:image" content="./static/img/linked_data.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <title>BioThings Explorer</title>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
        <link rel="shortcut icon" href="./static/img/linked_data.png">     
        <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
        <link href="./static/css/metadata.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
        <script type="text/javascript" src="./static/js/populateSelect.js"></script>
        <script type="text/javascript" src="./static/js/utils.js"></script>
        <script type="text/javascript" src="./static/js/metadata.js"></script>
        <script type="text/javascript" src="./static/js/find_path.js"></script>
        <script type="text/javascript" src="./static/js/data2Sankey.js"></script>
        <script type="text/javascript" src="./static/js/drawSankey.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
        <link href="./static/css/select2-materialize.css" rel="stylesheet" type="text/css" />
   </head>
   <body> 
      <!-- This section is for the header-->
        <div>
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="../metadata">Knowledge Map</a></li>
              <li><a href="../crawler">Crawler</a></li>
              <li><a href="../navigator">Navigator</a></li>
            </ul>
            <ul id="dropdown2" class="dropdown-content">
              <li><a href="../tutorial">Tutorial</a></li>
              <li><a href="../sources">Sources</a></li>
              <li><a href="../uri">URI Registry</a></li>
            </ul>
            <ul id="dropdown3" class="dropdown-content">
              <li><a href="../api">API</a></li>
              <li><a href="https://pypi.org/project/biothings-explorer/">Python</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper black">
                    <div class="col s12">
                        <a href=".." title="BioThings Explorer"><img style="border:0px;" width="256" src="http://biothings.io/static/img/biothings-explorer-256.png" alt="Logo 256"/></a>
                        <!-- Dropdown Structure -->
                        <ul class="right hide-on-med-and-down">
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Docs<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Tools<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown3">Developers<i class="material-icons right">arrow_drop_down</i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Side Nav Menu here -->
        <div>
            <ul id="slide-out" class="sidenav">
                <li>
                    <div class="user-view">
                        <h2 class="center valign-wrapper"> KnowledgeMap Explorer</h2>
                    </div>
                </li>
                <li>
                    <a href="#" class="try-explore-endpoint"><i class = "material-icons orange-text text-darken-2">info_outline</i>Endpoint Info</a>
                </li>
                <li>
                    <a href="#" class="try-explore-input"><i class = "material-icons orange-text text-darken-2">arrow_forward</i>Connect from Input</a>
                </li>
                <li>
                    <a href="#" class="try-explore-output"><i class = "material-icons orange-text text-darken-2">arrow_backward</i>Connect to Output</a>
                </li>
                <li>
                    <a href="#" class="try-explore-output"><i class = "material-icons orange-text text-darken-2">compare_arrows</i>Connect Semantic Types</a>
                </li>
            </ul>
        </div>
        <!-- Main Menu at Landing Page-->
        <div class="row grey lighten-5 landing-page">
            <div class="col s12 m6 offset-m3">
                <h1 class="grey-text center-align">Knowledge Map Explorer</h1>
            </div>
            <div class="col s12 m10 offset-m1">
                <p class="grey-tex center-align">Find out how different APIs could be utilized for your own research purpose</p>
            </div>

        </div>
        <div id="main-menu" class="row">
            <div class="container">
                <div class="col s12 m6 l3 sub-intro">
                    <div>
                        <div class="center-align hide-on-small-only">
                            <i class="large material-icons blue-text text-lighten-2">info_outline</i>
                        </div>
                        <div class="center-align sub-intro-text">
                            <h2 class="center"> Endpoint Info</h2>
                            <p class="blue-grey-text center">Return metadata information, including input(s) and output(s) for any API endpoint.</p>
                        </div>
                        <div class="center-align">
                            <a class="waves-effect waves-light btn light-blue lighten-3 try-it-out-button center try-explore-endpoint" href="#">Try it out</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3 sub-intro">
                    <div>
                        <div class="center-align hide-on-small-only">
                            <i class="large material-icons indigo-text text-lighten-2">arrow_forward</i>
                        </div>
                        <div class="center-align sub-intro-text">
                            <h2 class="center"> Connect from Input </h2>
                            <p class="blue-grey-text center">Return all API Endpoints which can take the given bio-entity (e.g. ncbigene) as input.</p>
                        </div>
                        <div class="center-align">
                            <a class="waves-effect waves-light btn indigo lighten-3 try-it-out-button center try-explore-input" href="#">Try it out</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3 sub-intro">
                    <div>
                        <div class="center-align hide-on-small-only">
                            <i class="large material-icons pink-text text-lighten-2">arrow_back</i>
                        </div>
                        <div class="center-align sub-intro-text">
                            <h2 class="center"> Connect to Output </h2>
                            <p class="blue-grey-text center">Return all API Endpoints which can take the given bio-entity (e.g. ncbigene) as output.</p>
                        </div>
                        <div class="center-align">
                            <a class="waves-effect waves-light btn pink lighten-3 try-it-out-button center try-explore-output" href="#">Try it out</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3 sub-intro">
                    <div>
                        <div class="center-align hide-on-small-only">
                            <i class="large material-icons green-text text-lighten-2">compare_arrows</i>
                        </div>
                        <div class="center-align sub-intro-text">
                            <h2 class="center"> Connect Semantic Types </h2>
                            <p class="blue-grey-text center">Return all API Endpoints which can conncet from your input to output semantic type.</p>
                        </div>
                        <div class="center-align">
                            <a class="waves-effect waves-light btn green lighten-3 try-it-out-button center try-explore-semantic" href="#">Try it out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search bar -->
        <div class="row valign-wrapper endpoint-search-bar search-bar-center search-bar">    
            <div class="col s12">
                <div class="row">
                    <div class="col s12 crawler-header">
                        <h1 class="orange-text" style="font-family: Ubuntu; text-align: center;"> Knowledge Map Explorer </h1>
                        <br>
                        <br>
                    </div>
                    <div class="col s6 offset-s2 select-wrapper">
                        <select id="select-endpoint"></select>
                    </div>
                    <div class="col s2">
                        <a class="waves-effect waves-light btn search-button" id="endpoint-search-button">Explore</a>
                    </div>
                    <div class="col s8 offset-s2">
                        <p class="orange-text"> Please select the endpoint you want to explore!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row valign-wrapper input-search-bar search-bar-center search-bar">    
            <div class="col s12">
                <div class="row">
                    <div class="col s12 crawler-header">
                        <h1 class="orange-text" style="font-family: Ubuntu; text-align: center;"> Knowledge Map Explorer </h1>
                        <br>
                        <br>
                    </div>
                    <div class="col s6 offset-s2 select-wrapper">
                        <select id="select-input"></select>
                    </div>
                    <div class="col s2">
                        <a class="waves-effect waves-light btn search-button" id="input-search-button">Explore</a>
                    </div>
                    <div class="col s8 offset-s2">
                        <p class="orange-text"> Please select the input you want to explore!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row valign-wrapper output-search-bar search-bar-center search-bar">    
            <div class="col s12">
                <div class="row">
                    <div class="col s12 crawler-header">
                        <h1 class="orange-text" style="font-family: Ubuntu; text-align: center;"> Knowledge Map Explorer </h1>
                        <br>
                        <br>
                    </div>
                    <div class="col s6 offset-s2 select-wrapper">
                        <select id="select-output"></select>
                    </div>
                    <div class="col s2">
                        <a class="waves-effect waves-light btn search-button" id="output-search-button">Explore</a>
                    </div>
                    <div class="col s8 offset-s2">
                        <p class="orange-text"> Please select the output you want to explore!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row valign-wrapper semantic-search-bar search-bar-center search-bar">    
            <div class="col s12">
                <div class="row">
                    <div class="col s12 crawler-header">
                        <h1 class="orange-text" style="font-family: Ubuntu; text-align: center;"> Knowledge Map Explorer </h1>
                        <br>
                        <br>
                    </div>
                    <div class="col s12 m3 offset-m2 select-wrapper">
                        <label for="select-semantic-input">
                            Input Semantic Type
                            <select id="select-semantic-input"></select>
                        </label>
                    </div>
                    <div class="col s12 m3 offset-m1 select-wrapper">
                        <label for="select-semantic-output">
                            Output Semantic Type
                            <select id="select-semantic-output"></select>
                        </label>
                    </div>
                    <div class="col s12 m2">
                        <a class="waves-effect waves-light btn search-button" id="semantic-search-button">Explore</a>
                    </div>
                    <div class="col s12 m8 offset-m2">
                        <p class="orange-text"> Please select the input and output semantic type you want to explore!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sankey Plot div -->
        <div id="path-plotly-div" class="row">
            <div id="path-plotly" class="col s12"></div>
            <div id="error-message" class="col s12"></div>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red tooltipped" id="DownloadCodeButton" data-position="left" data-tooltip="Download Python Code">
                <i class="large material-icons">code</i>
            </a>
        </div>
        <footer class="page-footer orange">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">BioThings Explorer</h5>
                        <p class="grey-text text-lighten-4">Utilizing JSON-LD and SmartAPI Specifications to link biological data for knowledge exploration.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Useful Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="http://biothings.io/#" target="_blank">BioThings API</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://smart-api.info/" target="_blank">SmartAPI Specification</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://json-ld.org/" target="_blank">JSON-LD</a></li>
                            <li><a class="grey-text text-lighten-4" href="http://wulab.io/" target="_blank">The Wu Lab</a></li>
                            <li><a class="grey-text text-lighten-4" href="http://sulab.org/" target="_blank">The Su Lab</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Copyright © 2017-2018 The Su/Wu Lab.</p>
                </div>
            </div>
        </footer>
    </body>
</html>