<html>
   <head>
        <title>BioThings Explorer</title>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
        <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
        <link href="./static/css/select2-materialize.css" rel="stylesheet" type="text/css" />
        <link href="./static/css/navigator.css" rel="stylesheet" />
        <link rel="stylesheet" href="./static/css/explorer-style.css" rel="stylesheet" type="text/css" />
        <link href="./static/css/vis-network.min.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="./static/js/cytoscape.js"></script>
        <script type="text/javascript" src="./static/js/vis.js"></script> 
        <script type="text/javascript" src="./static/js/drawSankey.js"></script>
        <script type="text/javascript" src="./static/js/find_path.js"></script>
        <script type="text/javascript" src="./static/js/drawCytoscape.js"></script>
        <script type="text/javascript" src="./static/js/create_api_map.js"></script>
        <script type="text/javascript" src="./static/js/populateSelect.js"></script>
        <script type="text/javascript" src="./static/js/data2Sankey.js"></script>
        <script type="text/javascript" src="./static/js/customize_path.js"></script>
        <script type="text/javascript" src="./static/js/data2Cytoscape.js"></script>
        <script type="text/javascript" src="./static/js/utils.js"></script>
        <script type="text/javascript" src="./static/js/draw_semantic_map.js"></script>
        <script type="text/javascript" src="./static/js/draw_id_map.js"></script>
        <script type="text/javascript" src="./static/js/draw_api_map.js"></script>
        <script type="text/javascript" src="./static/js/draw_overall_map.js"></script>
        <script type="text/javascript" src="./static/js/color_schema.js"></script>
        <script type="text/javascript" src="./static/js/draw_hierarchical_path.js"></script>
        <script type="text/javascript" src="./static/js/direct_input2output.js"></script>
        <script type="text/javascript" src="./static/js/semantic_input2output.js"></script>
        <script type="text/javascript" src="./static/js/graph_help.js"></script>
        <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link href="./static/css/select2-materialize.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script src="./static/js/cytoscape-navigator.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
    </head>
    <body>
      <!-- This section is for the header-->
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red tooltipped" data-position="top" data-tooltip="Menu">
                <i class="large material-icons">menu</i>
            </a>
            <ul>
                <li><a class="btn-floating red tooltipped sidenav-trigger" data-target="slide-out" data-position="top" data-tooltip="Show SideNav Menu"><i class="material-icons">more</i></a></li>
                <li><a class="btn-floating yellow darken-1 tooltipped" data-position="top" data-tooltip="Download Current Image"><i class="material-icons">file_download</i></a></li>
                <li><a class="btn-floating green tooltipped" data-position="top" data-tooltip="Hide the description"><i class="material-icons">expand_less</i></a></li>
            </ul>
        </div>
        <div>
            <nav>
                <div class="nav-wrapper orange">
                    <div class="col s4">
                        <a href="#" data-target="slide-out" data-position="top" data-tooltip="Show SideNav Menu" id="menu" class="left"><i class="left material-icons">menu</i></a>
                        <a href="/explorer" class="breadcrumb">BioThings Explorer</a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="/tutorial" id="map">TUTORIAL</a></li>
                            <li><a href="/explorer" id="explore">EXPLORE</a></li>
                            <li><a href="/#" id="api">API</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div>
            <ul id="slide-out" class="sidenav">
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <div class = "collapsible-header">
                                <i class = "material-icons orange-text text-darken-2">call_received</i>Find Direct Output</div>
                            <div class = "collapsible-body"><p> Return outputs directly linked to input.<br>
                                <div class="select-wrapper">
                                    <label for="direct-input">
                                    Input prefix
                                        <select id="direct-input">
                                            <option value="" disabled selected>Choose your option</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="select-wrapper"> 
                                    <label for="select-output1">
                                    Output prefix
                                        <select id="direct-output">
                                            <option value="" disabled selected>Choose your option</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="input-field">
                                    <input id="direct_input_value" type="text" class="validate">
                                    <label for="direct_input_value">Specify input value here.</label>
                               </div>
                                <a class="orange lighten-2 btn" id="DirectInput2OutputButton">Explore</a>
                            </div>
                        </li>
                        <li>
                            <div class = "collapsible-header">
                                <i class = "material-icons orange-text text-darken-2">call_received</i>Semantic Query</div>
                            <div class = "collapsible-body"><p> Return outputs aligned from multiple sources.<br>
                                <div class="select-wrapper">
                                    <label for="semantic-input">
                                    Input prefix
                                        <select id="semantic-input">
                                            <option value="" disabled selected>Choose your option</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="select-wrapper"> 
                                    <label for="semantic-output">
                                    Output prefix
                                        <select id="semantic-output">
                                            <option value="" disabled selected>Choose your option</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="input-field">
                                    <input id="semantic_input_value" type="text" class="validate">
                                    <label for="semantic_input_value">Specify input value here.</label>
                               </div>
                                <a class="orange lighten-2 btn" id="SemanticInput2OutputButton">Explore</a>
                            </div>
                        </li>
                        <li>
                           <div class = "collapsible-header">
                              <i class = "material-icons orange-text text-darken-2">directions</i>Navigator</div>
                           <div class = "collapsible-body"><p> Please select the <b>bioentities</b> you would like to explore. A sankey plot would appear on the right showing all the <b>paths</b> connecting the <b>input</b> and <b>output</b> you selected.</p>
                             <div class="select-wrapper"> 
                               <label for="select-input1">
                                 Input
                                 <select id="select-input1">
                                    <option value="" disabled selected>Choose your option</option>
                                 </select>
                               </label>
                             </div>
                             <div class="select-wrapper"> 
                               <label for="select-output1">
                                 Output
                                 <select id="select-output1">
                                    <option value="" disabled selected>Choose your option</option>
                                 </select>
                                </label>
                             </div>
                             <div class="select-wrapper">
                               <label for="select-max-api">
                                 Maximum number of APIs used
                                 <select id="select-max-api">
                                   <option value="3" disabled selected>3</option>
                                   <option value="1">1</option>
                                   <option value="2">2</option>
                                   <option value="3">3</option>
                                   <option value="4">4</option>
                                 </select>
                               </label>
                             </div>
                             <a class="orange lighten-2 btn" id="inputOutputPathButton">Find Path</a>
                             <div id="explore-path">
                               <p> Please select the <b>path</b> using the <b>drop-down</b> menu below. The detailed <b>description</b> for each path could be found under the <b>Sankey Plot</b> on the right. After selecting the path, please <b>specify the input</b>. If you have <b>multiple</b> inputs, separate them by <b>comma</b>.</p>
                               <div class="select-wrapper">
                                 <label for="select-path">
                                   <select id="select-path">
                                   </select>
                                 </label>
                               </div>
                               <div class="input-field">
                                 <input id="input_value" type="text" class="validate">
                                 <label for="input_value">Please put your input value here.</label>
                               </div>
                               <a class="orange lighten-2 btn" id="explorePathButton">Explore This Path</a>
                             </div>
                           </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row grey lighten-5 landing-page">
            <div class="col s12 l6 landing-page-text">
                <h1 class="grey-text center">BioThings Navigator</h1>
                <p class="grey-text center">Service for Path Planning and API Call Chaining</p>
                <a class="center waves-effect waves-light btn light-blue lighten-3 try-it-out-button center-align" id="try-crawler-button" href="metadata">Try it out</a>
            </div>
            <div class="col s12 l4 offset-l2 hide-on-small-only">
                <img width="80%" class="center" src="./static/img/navigator.png">
            </div>
        </div>
        <div id="intro" class="row">
            <div class="container">
                <div class="col s12 m4 offset-m1 sub-intro">
                    <div>
                        <div class="center-align hide-on-small-only">
                            <img width="50%" src="./static/img/navigator_gps.png">
                        </div>
                        <h2 class="center"> Path Planning</h2>
                        <p class="blue-grey-text">It utilizes <a href="http://smart-api.info" target="_blank">Smart-API Specifications</a> to build a network of APIs. And by traversing through the network, BioThings Explorer could help user identify potential paths connecting two biological entities through multiple API calls.</p>
                    </div>
                </div>
                <div class="col s12 m4 offset-m2 sub-intro">
                    <div>
                        <div class="center-align hide-on-small-only">
                            <img width="50%" src="./static/img/navigator_data.png">
                        </div>
                        <h2 class="center"> Data Fetching </h2>
                        <p class="blue-grey-text">In addition, BioThings Explorer could chain those API calls together and fetch relevant biological data through JSON-LD technology.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="main">
            <div class="row direct_output_display">
                <div class="col s12 progress">
                    <div class="indeterminate valign-wrapper"></div>
                </div>
                <!--
                <div class="row topcontrols">
                    <div class="col s8">
                        <h2> Results</h2>
                    </div>
                    <div class="col s4">
                        <h2> Description </h2>
                    </div>
                </div>
            -->
                <div class="row mainview"> 
                    <div class="col s7" id="cy">
                    </div>
                    <div class="col s4" id="node_edge_description">
                        <div>
                            <ul class="tabs">
                                <li class="tab col s4" id="node_tab"><a class="active" href="#node_info">Node</a></li>
                                <li class="tab col s4" id="edge_tab"><a href="#edge_info" id="edge_tabs">Edge</a></li>
                                <li class="tab col s4" id="context_tab"><a href="#context_info">Context</a></li>
                            </ul>
                        </div>
                        <div id="node_info" class="col s12">
                            <div id="graph-details-info">
                                <p class="help-text">Click on one of the nodes or edges in the network to view more details...</p>
                                <img src="./static/img/help-left-arrow.png" width="75">
                            </div>
                        </div>
                        <div id="edge_info" class="col s12"></div>
                        <div id="context_info" class="col s12"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="page-footer orange">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">BioThings Explorer</h5>
                        <p class="grey-text text-lighten-4">Utilizing JSON-LD and SmartAPI Specifications to link biological data for knowledge exploration.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Useful Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="http://biothings.io/#" target="_blank">BioThings API</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://smart-api.info/" target="_blank">SmartAPI Specification</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://json-ld.org/" target="_blank">JSON-LD</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017-2018 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="./static/js/explorer.js"></script>
    </body>
</html>
