<html>
   <head>
      <title>BioThings Explorer</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>
   </head>
   <body> 
      <!-- This section is for the header-->
      <div class="row">
         <div class="col s12" id="navbar">
            <nav>
                <div class="nav-wrapper orange">
                    <a href="#!" class="brand-logo">BioThings Explorer</a>
                    <ul class="right hide-on-med-and-down">
                    <li><a href="#" id="map">TUTORIAL</a></li>
                    <li><a href="#" id="explore">EXPLORE</a></li>
                    </ul>
                </div>
            </nav>
         </div>
      </div>
      <!-- This section is Introduction about BioThings Explorer-->
      <div class="container">
         <div class="col s12" id="introduction">
            <h3> What is BioThings Explorer? </h3>
            <p> Current biological research relies significantly on the integration and cross-linking of data across multiple domains, including genes, drugs and diseases. Meanwhile, lots of data providers start to use web-based APIs as an alternative data access point. BioThings Explorer integrate different biological data together through a distributed approach, which is to interlink those individually maintained APIs for integrated knowledge exploration.</p>
            <p>BioThings Explorer utilize the <a href="http://smart-api.info/" target="_blank">SmartAPI</a> basd API-specific metadata and <a href="https://json-ld.org/" target="_blank">JSON-LD</a> based semantic context to solve the API data interoperability issue. By utilizing all these technologies, we are able to build a highly connected network of biological APIs, which are discoverable, reusable and actionable.  More importantly, it empowers users to perform knowledge exploration tasks by identifying potential connecting paths and chaining multiple API calls together.</p>
         </div>
         <br>
         <div class="col s12" id="function">
            <h3> What can BioThings Explorer Offer? </h3>
            <div class="row">
               <div class="col s3">
                  <div class="center">
                     <a href="/registry">
                       <i class="large material-icons">map</i>
                       <h5 class="promo-caption">Map</h5></a>
                     <p class="light center">Overview of how API, endpoints and bio-entities are connected</p>
                  </div>
               </div>
               <div class="col s3">
                  <div class="center">
                     <a href="/registry">
                       <i class="large material-icons">search</i>
                       <h5 class="promo-caption">MetaData</h5></a>
                     <p class="light center">Get metadata information about API endpoints</p>
                  </div>
               </div>
               <div class="col s3">
                  <div class="center">
                     <a href="/registry">
                       <i class="large material-icons">timeline</i>
                       <h5 class="promo-caption">Path</h5></a>
                     <p class="light center">Find Connection between Bio-entities</p>
                  </div>
               </div>
               <div class="col s3">
                  <div class="center">
                     <a href="/registry">
                       <i class="large material-icons">explore</i>
                       <h5 class="promo-caption">Explore</h5></a>
                     <p class="light center">Knowledge Exploration through chaining API calls </p>
                  </div>
               </div>
            </div>
         </div>
   </body>
</html>