<html>
   <head>
      <meta property="og:locale" content="en_US">
        <meta property="og:url" content="http://biothings.io/explorer/">
        <meta property="og:site_name" content="BioThings Explorer">
        <meta property="og:title" content="BioThings Explorer | Exploring Biological Data Through Linked API Services">
        <meta name="description" content="BioThings Explorer utilize JSON-LD and SmartAPI Specifications to link biological API for knowledge exploration. Users could get metadata information about APIs as well as fetching linked biological data through BioThings Explorer.">
        <meta property="og:type" content="website">
        <meta property="og:description" content="BioThings Explorer utilize JSON-LD and SmartAPI Specifications to link biological API for knowledge exploration. Users could get metadata information about APIs as well as fetching linked biological data through BioThings Explorer.">
        <meta property="og:image" content="http://biothings.io/static/img/biothings-explorer-64.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <title>BioThings Explorer</title>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
        <link rel="shortcut icon"  href="http://biothings.io/static/img/biothings-explorer-64.png" title="BioThings Explorer">
        <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
      <style>
        #api_frame {
          height: 100vh;
          width: 100vw; 
        }
        iframe {
          width: 50%;
          height: 40%;
        }
    </style>
   </head>
   <body> 
      <!-- This section is for the header-->
        <div>
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="../metadata">Knowledge Map</a></li>
              <li><a href="../crawler">Crawler</a></li>
              <li><a href="../navigator">Navigator</a></li>
            </ul>
            <ul id="dropdown2" class="dropdown-content">
              <li><a href="../tutorial">Tutorial</a></li>
              <li><a href="../sources">Sources</a></li>
              <li><a href="../uri">URI Registry</a></li>
            </ul>
            <ul id="dropdown3" class="dropdown-content">
              <li><a href="../api">API</a></li>
              <li><a href="https://pypi.org/project/biothings-explorer/">Python Client</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper black">
                    <div class="col s12">
                        <a href=".." title="BioThings Explorer"><img style="border:0px;" width="256" src="http://biothings.io/static/img/biothings-explorer-256.png" alt="Logo 256"/></a>
                        <!-- Dropdown Structure -->
                        <ul class="right hide-on-med-and-down">
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Docs<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Tools<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown3">Developers<i class="material-icons right">arrow_drop_down</i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
      <div class="container">
        <div class="row">
          <p> Here is a live demo we made for NCATS Translator Project. The demo is constructed to solve a real use case, which is to find all chemicals which target genes that participate in a specific pathway</p>
        </div>
      </div>
      <div class="row center" id="api_frame">
        <iframe src="https://www.youtube.com/embed/cPUKRsaTlhg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <script>
          $(document).ready(function(){
            $(".dropdown-trigger").dropdown();
          });
      </script>
  </body>
</html>