h2 {
	font-family: "Ubuntu";
	font-size: 1.5rem;
}

.try-it-out-button {
	margin-top: 3%;
	margin-bottom: 5%;
}

.sub-intro {
	border-bottom: 1px solid #D7D6D6;
}

.sub-intro img {
	margin-top: 10%;
	margin-bottom: 8%;
}

.landing-page h1 {
	margin-top: 15%;
    font-family: "Ubuntu";
}

.landing-page p {
	font-family: "Ubuntu";
	font-size: 1.8rem;
li:first-child a {
   color:red; !important
 }
