
body { 
  font: 8px helvetica neue, helvetica, arial, sans-serif;
  overflow: scroll;
}

/*
header part
*/
#biothings-header {
  background-color: grey;
  height: 10%;
}
#biothings-header h3 {
  font-size: 400%;
  color: white;
  margin-left: 10%;
}
/*
Initialization Part
*/
#input {
  height: 10%;
  margin-top: 2em;
}
.form-group {
  display: inline-block;
  margin-right: 1.5%;
}
#exploreButton{
  float: right;
  margin-top: 1em;
}
/*
main part
*/
#main {
  transition: margin-left .5s;
  padding: 20px;
}
/*
Visualization part
*/
#graph {
  display: block;
  float: left;
  width: 99%;
  height: 550px;
  border: 1px solid #ddd;
  margin: 0.25em;
  border-radius: 0.25em;
  overflow: hidden
}
#cy {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 613px;
  height: 500px;
  display: block;
}

#controlPanel {
  margin-top: 0.5em;
  height: 70%; ;

}
#content {
  display: inline-block;
}

#idlist {
  height: 70%;
}

#id-list {
  font-size: 1em;
  overflow: scroll;
}

.cy-path form-group{
  z-index: 1000;
}
.cy-path {
  display: none;
}
/*
side part
*/
#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  background-color: #111;
}

#sidenav h3, #sidenav h4{
  color: #818181;
  transition: 0.3s;

}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*
Filter part
*/
#filter {
  font: 0.5rem;
  display: none;
}
.filter-small {
  width: 20%;
}
.filter-medium {
  width: 30%;
}
.filter-large {
  width: 40%;
}
.form-control {
  font-size: 0.8rem;
}
#filter_list {
  margin-left: 1%;
}
#filter_list .row{
  margin-left: 0.5%;
}
#updateButton {
  margin-left: 1%;
}

/*
results part
*/
#candidate {
  text-align: center;
  width: 100%;
  overflow: scroll;
}
#addAllButton {
  display: block;
  text-align: center;
  margin:2% auto;
}
#result-list .panel-heading {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
}

#result-list {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
}

#idlist.loading{
  background-color: #E5FFCC;
}

select {
  border-color: white;
}

#result-list p {
  text-align: center;
}

input {
  margin-left: 1%;
}



/*
log part
*/
#log {
  max-height: 100px;
  overflow: scroll;
}
.log-panel {
  float: left;
  width: 613px;
  margin-top: 1%;
}


