
body { 
  font: 8px helvetica neue, helvetica, arial, sans-serif;
  overflow: scroll;
}
/*
header part
*/
#biothings-header {
  background-color: grey;
  height: 10%;
}
#biothings-header h3 {
  font-size: 400%;
  color: white;
  margin-left: 10%;
}
/*
Initialization Part
*/
#input {
  height: 10%;
  margin-top: 2em;
}
.form-group {
  display: inline-block;
  margin-right: 1.5%;
}
/*
Visualization part
*/
#graph {
  height: 400px;
  width: 550px;
}
#cy {
    display: inline-block;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 2em;
    left: 0px;
    right: 0px;
    bottom: 3em;
}
#controlPanel {
  margin-top: 0.5em;
  height: 70%; ;

}
#content {
  display: inline-block;
}

#idlist {
  height: 70%;
}

#id-list {
  font-size: 1em;
  overflow: scroll;
}

/*
Filter part
*/
#filter {
  font: 0.5rem;
  display: none;
}
.filter-small {
  width: 20%;
}
.filter-medium {
  width: 30%;
}
.filter-large {
  width: 40%;
}
.form-control {
  font-size: 0.8rem;
}
#filter_list {
  margin-left: 1%;
}
#filter_list .row{
  margin-left: 0.5%;
}
#updateButton {
  margin-left: 1%;
}

/*
results part
*/
#candidate {
  text-align: center;
  width: 100%;
  overflow: scroll;
}
#addAllButton {
  display: block;
  text-align: center;
  margin:2% auto;
}
#result-list .panel-heading {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
}

#result-list {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
}


