.card p {
	font-size: 0.9rem;
	font-family: "Roboto";
	text-align: justify;
}

#metadata-header {
	color: white !important;
}

.card-title {
	font-size: 1.6rem !important;
}

.card {
	max-height: 200px;
}

.card-content {
	padding-bottom: 10px !important;
}

.card-action {
	padding-top: 5px !important;
	padding-bottom: 10px !important;
}

.search-bar-center {
    position: fixed;
    height: 80vh;
    width: 100vw;
}

.search-bar-top {
	padding: 2%;
	margin-top: 2%;
	border-radius: 4px;
	border: 1px solid red;
}

#slide-out h2 {
	font-size: 1.6rem !important;
	padding-bottom: 30%;
	font-family: "Ubuntu";
	color: white;
}

.user-view {
	background-color: orange;
}
