h2 {
	font-family: "Ubuntu";
	font-size: 1.5rem;
}

.try-it-out-button {
	margin-top: 3%;
}

.landing-page h1 {
    font-size: 3rem;
    font-family: "Ubuntu";
}

.landing-page p {
	font-family: "Ubuntu";
	font-size: 2.0rem;
}

.landing-page-text {
	margin-top: 3%;
}

.landing-page-text a {
	margin-left: 40%;
}
