*{
  margin:0;
  padding:0;
}
body {
    margin:0;
    padding:0;
    font-family: Arial, Sans-Serif;
    line-height: 1.5em;
}
/*landingpage*/

#index-banner {
  height:60vh;
  background-color: black;
}

#index-banner h1 {
  font-size: 50px;
  color: white;
}

#index-banner h5{
  font-size: 20px;
  color: white;
}

.banner-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 80%;
}

#index-features h5{
  font-size:18px;
}
/*visjs graphs for overview map*/
#semantic_type_view, #bioentity_id_view, #api_view {
    width: 800px /* height is set using window size*/
    height: 800px;
    display:block;
}

/*cytoscape*/
#cy {
    width: 100%; /* height is set using window size*/
    height: 100%;
    display:none;
}
#main {
    margin-top: 0.5%;
}
/*sankey plot*/
#path-plotly-div {
    display: none; /* height is set using window size*/
}
#explore-plotly-div {
  display: none;
}
#index-banner h1 {
  opacity: 0.5;
  font-size: 3em;
}

/*
header
*/
.brand-logo {
  left:10;
}

/*
sidebar
*/
.select-wrapper {
    margin-left: 3%;
    margin-right: 3%
}
#roadMapButton {
  margin: 5%;
}
#inputOutputPathButton {
  margin: 5%;
}
#explorePathButton {
  margin: 5%;
}
.input-field {
  margin: 5%;
}

/*
main
*/
.api-centric h1{
  display:block;
  font-size: 3em;
  margin-left: 1%;
}

/*
explore-entity-css
*/
.bio-entity-centric h1{
  display:block;
  font-size: 3em;
  margin-left: 1%;
}
/*bioentity explore window*/
#data_explore_view, #explore_history_view {
    width: 100%;/* height is set using window size*/
    height: 100%;
    display:block;
}
/*bioentity explore window*/
.semantic_type_category_view {
    width: 60%;/* height is set using window size*/
    height: 100%;
    display:block;
}
